# Eclipse-specific files
.project
.classpath
.settings/
.metadata/
.cproject
.externalToolBuilders/
.launch
.autotools

# Build and output directories
bin/
build/
tmp/
*.log
*.tmp
*.bak

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

